.banner {
  position: relative;

  margin-top: 66px;
  padding: 32px 0 83px;
  background-color: #0a2756;
  &__group-svg {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 109px;
    margin-bottom: 41px;
    position: relative;
    right: -12px;
    margin-left: 98px;
    .banner__group__reg {
      letter-spacing: 4.2px;
      margin-bottom: 0;
      padding: 26px 16px;
      display: none;
    }
  }
  &__group-left {
    max-width: 535px;
    margin-top: 37px;
    max-height: 300px;
  }
  &__group-right {
    max-width: 397px;
    max-height: 361px;
  }
  &__group-info {
    margin-left: 169px;
    color: #fff;
  }
  &__reg {
    background: #007dfe;
    padding: 26px 42px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 9.38px;
    text-transform: uppercase;
    margin-bottom: 29px;
    color: #fff;
    transition: all 0.5s linear;
    &:hover {
      cursor: pointer;
      background: #fff;
      color: #007dfe;
    }
  }
  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    max-width: 510px;
    margin-bottom: 41px;
  }
  &__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    margin-bottom: 45px;
    max-width: 510px;
  }
  &__scroll {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &-link {
    }
  }
}
