.footer {
  background: #0a2756;
  padding: 140px 0 160px;
  color: #fff;

  .container {
    max-width: 850px;
  }

  &__title {
    margin: 0 0 62px 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 84px */
  }
  &__form {
    textarea {
      width: 100%;
      max-width: 800px;
      height: 120px;
      resize: none;
      margin-bottom: 25px;
      border: none;
      padding: 14px 20px;
    }
    .form__input-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 26px;
      margin-bottom: 26px;
      input {
        flex: 1;
        border: none;
        padding: 12px 19px;
        transition: all 0.5s linear;
      }
    }
    input,
    textarea {
      &:active,
      &:hover,
      &:focus {
        outline: 0;
        outline-offset: 0;
      }
      &._error {
        border: 3px solid #fb5555;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }

    button {
      color: #fff;
      background: #007dfe;
      padding: 26px 35px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 19.6px */
      letter-spacing: 9.38px;
      text-transform: uppercase;
      margin-bottom: 100px;
      margin-left: auto;
      display: flex;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__email {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 56px */
  }
  &__phone-number {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin-bottom: 18px;
  }
  &__legal-info {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    text-decoration-line: underline;
  }
}
