@include tablet {
  .header {
    &__devider {
      opacity: 0;
    }
    &__nav {
      display: none;
    }
    &__button-reg {
      display: none;
    }
    &__social {
      display: none;
    }
  }
  .burger {
    display: block;
  }

  .navigation {
    &.menu--active {
      display: flex;
      flex-flow: column;
      transform: translateX(0);
    }
  }
}

@include small-tablet {
}
