:root {
  --font-family: 'Helvetica Neue', sans-serif;
  --content-width: 1140px;
  --container-offset: 25px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}
